body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 1.5;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}
/* Header */
.header {
    padding-top: 24px;
    padding-bottom: 24px;
}
.page-header{
    background: #FFF;
}
.logo-web {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-studio {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.menu-item {
    color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}
.menu-item:hover {
    color:#404BBF;
}
.menu-item:focus {
    color: #404BBF;
}
.page-address{
    font-style: normal;
}
.page-address-item{
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.page-address-item:hover{
color: #404BBF;
}
.page-address-item:focus{
    color: #404BBF;
}
/* Section 1 */
.page-main {
    background-color: #2E2F42;
    padding: 188px 0;
    margin: 0%;
    height: 600px;
}
.hero-container{
    background: #2E2F42;
}
.page-main-title{
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    display: block;
    margin: 0 auto 48px;
}
.page-main-button{
    color: #FFFFFF;
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.page-main-button:hover{
    background-color: #404BBF;
}
.page-main-button:focus{
    background-color: #404BBF;
}
/* Section 2 */
.page-advantages-item{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.page-advantages-item-text{
    letter-spacing: 0.02em;
}
.page-team{
    background: #F4F4FD;
}
.page-team-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.page-team-list-item{
    background-color: #FFFFFF;
}
.page-team-list-item-title{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.page-team-list-item-text{
    font-size: 16px;
    letter-spacing: 0.02em;
}
.page-portfolio{
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}
.page-portfolio-list-item-title{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.page-portfolio-list-item-text{
    letter-spacing: 0.02em;
}
.page-footer{
    background: #2E2F42;
}
.logo-studio-footer{
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.page-footer-text{
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}